
.x-grid-header {
	width: 100%;

	margin-right: 4px;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9aa7b2), color-stop(2%, #647482), color-stop(100%, #434d57));
}
.x-grid-row {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.x-grid-row:nth-child(even) {
	background-color: #ffffff;
}
.x-grid-row:nth-child(odd) {
	background-color: #f0f0f0;
}
.x-grid-hd-cell {
	text-align: center;
	color: #FFF;
	text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
}
.x-grid-hd-cell[sort$=ASC] {
	background: url('sort_asc.gif') no-repeat right center;
}
.x-grid-hd-cell[sort$=DESC] {
	background: url('sort_desc.gif') no-repeat right center;
}
.x-grid-cell {
	line-height:15px;
	vertical-align:middle;
	line-height: 2em;
	font-size: 1em;
	font-weight: bold;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.x-grid-cell-no-of {
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.x-grid-cell-del-btn {
	padding-top: 1px;
	padding-left: 0.5em;
}

.x-grid-col-hidden {
	display: none;
}

.x-item-selected {
	-webkit-transform: translate3d(0, 0, 0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #7fb6e7), color-stop(2%, #2986d6), color-stop(100%, #1d5e96));
	background-image: linear-gradient(top, #7fb6e7 0%, #2986d6 2%, #1d5e96 100%);
	color: #fff;
	border-color: #103656;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
